<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0A0A0A" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@jaap3" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= BASE_URL %>" />
    <meta
      property="og:title"
      content="Stitch &amp; Slice - Create beat sliced Polyend Tracker instruments"
    />
    <meta
      property="og:description"
      content="
        Create beat sliced instruments for the Polyend Tracker in the browser.
        Load audio samples, layer them and export a perfectly sliced .pti file.
        Export .wav files containing cue points, usable on devices like the
        1010music Blackbox or the Dirtywave M8.
      "
    />
    <meta
      property="og:image"
      content="<%= /https?:\/\//i.test(BASE_URL) ? new URL('./images/screenshot.png', BASE_URL).toString() : path.join(BASE_URL, './images/screenshot.png') %>"
    />
    <title>
      Stitch &amp; Slice - Create beat sliced Polyend Tracker instruments
    </title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
